html,
body,
#__next,
main {
	width: 100%;
}

#__next,
main {
	height: 100%;
}
body {
	overflow-x: hidden;
	--nav-height: 4rem;
}
body,
body.light {
	color: #000;
	background-color: #fff;
}
body.dark {
	color: #fff;
	background-color: #000;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
